.status-box {
    display: flex;
    position: absolute;
    height: 40rem;
    width: 50rem;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(151, 151, 226);
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    color: black;
}

.left {
    height: 23rem;
    width: 20rem;
    background-color: whitesmoke;
    margin-right: 30px;
    border-radius: 10px;
    padding: 10px;
}

.up {
    height: 13rem;
    width: 25rem;
    background-color: bisque;
    border-radius: 10px;
    padding: 20px;
    margin-top: 20px;
}

.down {
    height: 9rem;
    width: 25rem;
    background-color:cornsilk;
    margin-top: 30px;
    border-radius: 10px;
    padding: 20px;
}

.status {
    display: flex;
}

.my-img {
    height: 7.5rem;
    width: 8rem;
    border-radius: 50%;
    margin-top: 10px;
    margin-bottom: 7px;
    margin-left: 85px;
    text-align: center;
}

.heading {
    position: absolute;
    top: 80px;
}

.student-name {
    text-align: center;
}

p {
    font-size: 14px;
}

.status-msg {
    font-family: 'Pacifico', cursive;
      font-size: 18px;
      color: #ff4081;
      text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}